/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

// Para que funcione, la segunda clase -active se carga en el DOM 0.1s después de la primera, sino ambas se dispararían a la vez y no habría transición alguna

.order-enter
  transition all .5s ease
  transform translateX(-100%)
  opacity 0
  max-height 0
  padding 0 !important 
  &.order-enter-active
    transform translateX(0%)
    opacity 1
    max-height 60px
    padding 2rem 0 !important


.order-exit
  transition all .5s ease
  transform translateX(0%)
  max-height 60px
  padding 2rem 0 !important
  &.order-exit-active
    transform translateX(120%)
    max-height 0
    padding: 0 !important


.menuitem-enter
  transition all .5s ease
  transform translateY(-100%  )
  &.menuitem-enter-active
    transform translateY(0)

.menuitem-exit
  transition all .5s ease
  transform translateY(0)
  height 190px
  margin-bottom 5px
  &.menuitem-exit-active
    transform translateY(-100%)
    height 0
    padding 0
    margin-bottom 0px
    border-bottom: 0px solid #000;
    border-top: 0px solid #000;


.count-enter
  transition all .5s ease
  transform translateY(100%)
  &.count-enter-active
    transform translateY(0)

.count-exit
  transition all .5s ease
  transform translateY(0)
  position absolute
  left 0
  &.count-exit-active
    transform translateY(-100%)

.totals-enter
  transition all .5s ease
  transform translateY(150%)
  &.totals-enter-active
    transform translateY(0)

.totals-exit
  transition all .5s ease
  transform translateY(0)
  position absolute
  left 0
  &.totals-exit-active
    transform translateY(-100%)


.totals
    position relative;
    display block;
    overflow hidden;


